body {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.container {
  padding: 0 80px;
}

.fab {
  font-size: 20px;
  color: $color-gray;
  opacity: 0.5;

  &:hover {
    color: $color-d-white;
  }
}

.active {
  display: flex !important;
}

@media (max-width: $lg - 1) {
  .container {
    padding: 0 20px;
  }
}

@media (max-width: $sm - 1) {
  .container {
    padding: 0 20px;
  }
}