.footer {
  background-color: $color-d-gray;

  &__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 95px 80px 150px 80px;
  }

  &__company-information {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 25px;
  }
}

@media (max-width: $md - 1) {
  .footer {
    &__container {
      padding: 80px 20px 150px 20px;
    }
  }
}

@media (max-width: $sm - 1) {
  .footer {
    &__container {
      padding: 40px 20px 100px 20px;
    }

    &__company-information {
      flex-direction: column;
    }
  }
}
