.social-networks {
  display: flex;
  justify-content: center;

  &__item {
    display: flex;
    width: 20px;
    height: 20px;
    margin-left: 20px;
  }

  &__item-href {
    width: 100%;
    height: 100%;
  }

  &--our-team {
    position: absolute;
    bottom: 90px;

    .fab {
      opacity: 0.9;
      &:hover {
        color: $color-grayish-white;
      }
    }
  }
}

@media (max-width: $lg - 1) {
  .social-networks {
    &--our-team {
      bottom: 60px;
    }
  }
}

@media (max-width: $md - 1) {
  .social-networks {
    &--our-team {
      bottom: 40px;
    }
  }
}

@media (max-width: $sm - 1) {
  .social-networks {
    margin-top: 15px;
  }
}