.team-cards {
  display: flex;
  justify-content: center;
  position: relative;

  &__photo-wrap {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 230px;
    height: 230px;
    margin: 0 20px;
  }

  &__photo {
    @include background_size_repeat_pos(cover, no-repeat, center);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    opacity: 0.5;
    border: 0 solid black;
    border-radius: 50%;
    cursor: pointer;

    &--1 {
      background-image: url("../img/card-photo-1.png");
    }

    &--2 {
      background-image: url("../img/card-photo-2.png");
    }

    &--3 {
      background-image: url("../img/card-photo-3.png");
    }

    &--4 {
      background-image: url("../img/card-photo-4.png");
    }

    &--active {
      width: 160px;
      height: 160px;
      opacity: 1;
      border: 15px solid $color-white;
      box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.4),
      inset 0 0 10px 1px rgba(0, 0, 0, 0.6);
      transition: all 0.2s ease-out;
    }
  }
}

@media (max-width: $lg - 1) {
  .team-cards {
    margin-top: 20px;

    &__photo-wrap {
      width: 200px;
      height: 200px;
    }
  }
}

@media (min-width: $sm) and (max-width: $md - 1) {
  .team-cards {

    &__photo-wrap {
      width: 130px;
      height: 130px;
    }

    &__photo {
      width: 90px;
      height: 90px;

      &--active {
        width: 100px;
        height: 100px;
      }
    }
  }
}

@media (max-width: $sm - 1) {
  .team-cards {
    flex-direction: column;

    &__photo-wrap {
      position: relative;
      width: 150px;
      height: 150px;
      margin-top: 130px;
      padding: 0 80px;

      &:nth-child(1) {
        margin-top: 20px;
      }
    }

    &__photo {
      width: 100px;
      height: 100px;
      opacity: 1;
      border: 2px solid $color-white;;
      border-radius: 50%;
      cursor: auto;
      box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3),
      inset 0 0 8px 1px rgba(0, 0, 0, 0.4);

      &--active {
        width: 100px;
        height: 100px;
        opacity: 1;
        border: 2px solid $color-white;
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3),
        inset 0 0 8px 1px rgba(0, 0, 0, 0.4);
        transition: all 0s ease-out;
      }
    }
  }
}



