.video {
  left: calc(100% - 680px);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  border-radius: 5px;
  box-shadow: 0 7px 17px rgba(0, 0, 0, 0.4);

  &__play-button {
    position: absolute;
    top: 116px;
    width: 60px;
    height: 60px;
    text-align: center;
    background-image: url("../img/play-logo.png");
    cursor: pointer;
    z-index: 2;
  }

  &__play-button-sign {
    position: absolute;
    top: 195px;
    margin: 0 auto;
    white-space: nowrap;
    @include font-size-weight($font-size-12, $font-weight-700);
    font-family: $font-family-Raleway;
    color: $color-d-gray;
  }

  &__file {
    width: 600px;
    height: 320px;
    border-radius: 5px;
    border: 1px solid $color-d-gray;
    outline: none;
  }
}

@media (max-width: 1350px) {
  .video {
    margin: 20px 0;
  }
}

@media (max-width: 1350px) {
  .video {
    align-self: flex-start;
    margin: 20px 0;
    position: relative;
    left: 0;
  }
}

@media (max-width: $sm - 1) {
  .video {
    align-self: flex-start;
    position: relative;
    left: 0;

    &__play-button {
      top: 57px;
    }

    &__play-button-sign {
      display: none;
    }

    &__file {
      width: 356.25px;
      height: 190px;
    }
  }
}

@media (max-width: 380px) {
  .video {
    &__file {
      width: 300px;
      height: 160px;
    }
  }
}